{% load static %}
<!doctype html>
<html lang="ru" dir="ltl">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/style.css' %}"/>
    <title>
      {% block title %}
        Спаси жизнь
      {% endblock title %}
    </title>
    <link rel="shortcut icon"
          type="image/png"
          href="{% static "img/fav/favicon.ico" %}"/>
  </head>
  <body>
    {% include "inc/_nav.html" %}
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          <h5>Категории:</h5>
          {% block sidebar %}
          {% endblock sidebar %}
        </div>
        <div class="col-md-9">
          {% block content %}
            CONTENT
          {% endblock content %}
          {% if page_obj.has_other_pages %}
            <nav class="Paginator" aria-label="Page navigation example">
              <ul class="pagination pagination-lg justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1">Первая</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt</a>
                  </li>
                {% endif %}
                {% for p in paginator.page_range %}
                  {% if page_obj.number == p %}
                    <li class="page-item active">
                      <span class="page-link">{{ p }}</span>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script scr="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
