
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
   background-color: rgba(19, 185, 171, 0.836);
   align-items: stretch;
   justify-content: center;
   height: 100vh;
   margin: 0;
}

a {
   font-family: 'Rubik Mono One', sans-serif;
   font-size: 20px;
   text-align: center;
   color: rgb(255, 255, 255);
   text-shadow: 1px 1px 7px #ffffff, -1px -1px 7px #1a082c;
   -webkit-text-stroke: 2px #23b199;
   -webkit-text-fill-color: rgb(0, 0, 0);
   letter-spacing: 5px;
}